doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    if username
      p Hello, #{first_name}
      a(href='/logout') Log out
    else 
      a(href='/signup') Sign up! 
      a(href='/login') Log in!

